.heading {
  color: #fff4f4;
  text-align: center;
  font-size: x-large;
  max-width: 465px;
  position: relative;
  left: 32.5%;
}

h2 {
  text-align: center;
}

body {
  background-image: url("payment.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.contact-info,
.payment-info {
  max-width: 450px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
  left: 33%;
}

.all {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.contact-info fieldset,
.payment-info fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #ffd2d2;
  padding: 20px;
  background: #fff4f4 0.9;
  box-shadow: inset 0px 0px 15px #ffe5e5;
  -moz-box-shadow: inset 0px 0px 15px #ffe5e5;
  -webkit-box-shadow: inset 0px 0px 15px #ffe5e5;
}

.payment-info input[type="submit"],
.payment-info input[type="button"] {
  background: #1b5d5f;
  border: 1px solid #145b6d;
  padding: 5px 15px 5px 15px;
  color: #ffcbe2;
  box-shadow: inset -1px -1px 3px #135f72;
  -moz-box-shadow: inset -1px -1px 3px #135869;
  -webkit-box-shadow: inset -1px -1px 3px #10596b;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}
.payment-info input[type="submit"]:hover,
.payment-info input[type="button"] :hover {
  background: #d4ffcb;
  color: #39a0a3;
}

.confirm {
  margin-left: 30%;
}
